.sl {
    background: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;

    box-shadow: inset 0 -10px 10px -8px #000000;
    overflow: hidden;
}

.sl .sl-header {
    margin: 0;
    padding: 20px 20px 0 20px;
    font-size: 26pt !important;
}

.sl .sl-header .sl-icon {
    height: 50px;
    margin: -20px 12px -10px 0; 
}

.sl .sl-header .sl-clock {
    float: right;
}

.sl .sl-items {
    margin-top: 15px;
}

.sl .sl-item {
    font-size: 20pt;
    padding: 10px 0;
    clear: both;
}

.sl .sl-item:nth-child(even) {
    background: #FF642B50;
}

.sl .sl-item .sl-icon {
    margin: -5px 20px -15px 20px;
    height: 48px;
}

.sl .sl-item .sl-line-number {
    margin: 0 20px 0 0;
    font-weight: 600;
    display: inline-block;
    text-align: right;
    width: 50px;
}

.sl .sl-item .sl-right {
    float: right;
    padding-right: 20px;
}

.sl .sl-item .sl-time {

    font-weight: 700;
}

.sl .sl-item .sl-stop {
    padding-right: 20px;
    font-weight: 300;
    font-style: italic;
}

@keyframes slide {
    100% { 
      transform: translateY(-66.6666%);  
    }
  }