.cal {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;

    box-shadow: inset 0 -10px 10px -8px #000000;
    overflow: hidden;
}

.cal-header {
    font-size: 26pt;
    padding-left: 15pt;
    padding-top: 20px;
}

.cal-icon {
    height: 50px;
    margin: -20px 12px -10px 0; 
}

.cal-item {
    font-size: 20pt;
}

.cal-item:nth-child(even) {
    background: #FF642B50;
}


.cal-date, .cal-name {
    display: inline-block;
    padding: 10px 0;
}

.cal-date {
    width: 300px;
    text-align: right;
    height: 100%;
    font-weight: 300;
}

.cal-name {
    padding-left: 25px;
}

.cal-time {
    font-style: italic;
    font-weight: 300;
}