@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800&subset=latin-ext');



* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#wrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#left, #right {
    height: 100vh;
    width: 50vw;
    position: absolute;
}

#left {
    left:0;
    text-align: center;
    overflow: hidden;
    background: transparent;
}

#right {
    right: 0;
}

#top {
    height: 50vh;
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
}

#bottom {
    height: 50vh;
    width: 50vw;
    position: absolute;
    right: 0;
    bottom: 0;
}

.left-shadow {
    box-shadow: inset -10px 0px 15px -2px #000000;
    height: 100vh;
    width: 50vw;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 100px;
}

.img-left {
    overflow: hidden;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    object-position: center;
}

.error-no-info {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #888;
}