.cal {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: hidden;
}

.cal-items {
    margin-top: 6vh;
}

.cal-item {
    font-size: 2.6vh;
}

.cal-item:nth-child(even) {
    background: rgba(255, 100, 43, 0.6);
}

.cal-date, .cal-name {
    display: inline-block;
    padding: 0.72vh 0;
}

.cal-date {
    width: 28vh;
    text-align: right;
    height: 100%;
    font-weight: 300;
}

.cal-name {
    padding-left: 2vh;
}

.cal-time {
    font-style: italic;
    font-weight: 300;
}
