.cal {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: hidden;
}

.cal-items {
    margin-top: 6vh;
}

.cal-item {
    font-size: 2.59vh;
    height: 4.897vh;
    clear: both;
}
.cal-item .sl-item-inner {
    height:100%;
    width:100%;
    padding: 0.69vh 0
}

.cal-item:nth-child(even) {
    background: rgba(255, 100, 43, 0.6);
}

.cal-date, .cal-name {
    display: inline-block;
    padding: 0.72vh 0;
}

.cal-date {
    width: 35vh;
    text-align: left;
    margin-left: 2vh;
    height: 100%;
    font-weight: 300;
}

.cal-date:first-letter {    
    text-transform:capitalize;
}

.cal-name {
    padding-left: 0.1vh;
}

.cal-time {
    font-style: italic;
    font-weight: 300;
}
