@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800&subset=latin-ext');



* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#wrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#left, #right {
    height: 100vh;
    width: 50vw;
    position: absolute;
}

#left {
    left:0;
    text-align: center;
    overflow: hidden;
    background: transparent;
}

#right {
    right: 0;
}

#top {
    height: 50vh;
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
}

#bottom {
    height: 50vh;
    width: 50vw;
    position: absolute;
    right: 0;
    bottom: 0;
}

.left-shadow {
    box-shadow: inset -0.5vh 0 0.75vh -0.1vh #000000;
    height: 100vh;
    width: 50vw;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 100;
}

.img-left {
    overflow: hidden;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    object-position: center;
}

.right-header {
    font-size: 3.2vh;
    padding-left: 1vh;
    padding-top: 1.2vh;
    background-color: white;
    width: 50vw;
    height: 6vh;
    position: absolute;
    border-bottom: 0.1 solid #000;
    z-index: 1;
}

.right-header-icon {
    height: 4.2vh;
    margin: -3vh 0.6vh -1vh 0;
}

.right-header-current {
    float: right;
    margin-right: 2vh;

}

.right-header-current:first-letter {    
    text-transform:capitalize;
}

.error-no-info {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
    color: #888;
}

.img-left {
    font-size: 3vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #888;
}