<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
h1 {font-size:40px;text-align: center;}
h2 {font-size:20px;text-align: center;}
p {font-size:15px;text-align: center;}
</style>
</head>

<h1>Kons-screen</h1>
<h2>Icke-statiska hemsidor, wow!</h2>

<!-- Media feed -->
<div id="fbfeed"></div>
<div id="sldepartures"></div>
<div id="fnewsfeed"></div>

<!--------- Media feed initialisation --------->
<!----- Facebook posts ----->

<script>
function initFacebook(){
    // TODO: 10 is hardcoded at the moment, fix this. 
    // Perhaps call this initialisation function from updateFacebookPosts if it is the first
    // time updateFacebookPosts is called, whilst passing the parameter length `facebook.length`.
    for (i=0; i<10; i++){
        let fbdiv = document.getElementById("fbfeed")
        let text = document.createElement('P')
        text.setAttribute("id", i);
        text.classList.add("fbpost")
        fbdiv.appendChild(text)
    }
}

</script>

<!----- SL departures ----->

<script>
function initSL(){
    // TODO: 2 is hardcoded at the moment, fix this. 
    // Perhaps call this initialisation function from updateSLData if it is the first
    // time updateSLData is called, whilst passing the parameter length `stations.length`.
    let sldiv = document.getElementById("sldepartures")

    for (child=0; child < 2; child++){
        station = document.createElement("div")
        station.setAttribute("id", "station" + child)

        let name = document.createElement('h2')
        name.setAttribute("id","station" + child + "name")
        
        let destination = document.createElement('P')
        destination.setAttribute("id", "station" + child + "destination");

        let displaytime = document.createElement('P')
        displaytime.setAttribute("id", "station" + child + "displaytime");

        station.appendChild(name)
        station.appendChild(destination)
        station.appendChild(displaytime)
        sldiv.appendChild(station)
    }
}
</script>

<!----- FNews articles ----->

<script>
function initFNews(){
    // TODO: 5 is hardcoded at the moment, fix this. 
    // Perhaps call this initialisation function from updateFNews if it is the first
    // time updateFNews is called, whilst passing the parameter length `fnewsfeed.length`.
    let feed = document.getElementById("fnewsfeed")
    for (item=0; item < 10; item++){
        article = document.createElement("div")
        article.setAttribute("id", "article" + item)

        let title = document.createElement('h2')
        title.setAttribute("id", "article" + item + "title")
        
        let description = document.createElement('P')
        description.setAttribute("id", "article" + item + "description");

        let pubdate = document.createElement('P')
        pubdate.setAttribute("id", "article" + item + "pubdate");
        
        article.appendChild(title)
        article.appendChild(pubdate)
        article.appendChild(description)
        feed.appendChild(article)
    }
}
</script>

<!------ Instagram posts ----->

<!-- Instagram embedding -->
<!-- Removed instagram embedding initialisation for now -->
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

<!----- Calendar events----->

<!-------- Call initialisers -------->

<script>
$( document ).ready(function () { 
    initFacebook(); 
    initSL();
    initFNews();
    // etc.
})
</script>

<!--------- Dynamic updating of content --------->

<script type="text/javascript" charset="utf-8">

function updateInstagramPosts(instagram){
    // loop over elements with same class and change with jquery.
    $('.instagram-media-rendered').each(function(i, obj) { 
        // ful-hack som ändock funkar.
        // Uppdaterar koden som instagram inbäddningen refererar till och inbäddningen uppdateras som en följd.
        $(obj).attr("src", "https://www.instagram.com/p/" + instagram[i].code + "/embed/captioned/?cr=1&v=7&wp=658#%7B%22ci%22%3A0%2C%22os%22%3A373.82500000000005%7D");
    });
};

function updateFacebookPosts(facebook){
    // loop over elements with same class and change with jquery.
    $('.fbpost').each(function(i, obj) {
        $(obj).text(facebook[i].message);
        $(obj).id = facebook[i].id
    });
};

function updateSLData(stations){
    // loop and change
    for (i=0; i < stations.length; i++){
        //not used atm
        let station = document.getElementById("station" + i)

        let stationdata = stations[i]
        document.getElementById("station" + i + "name").innerText = stationdata.Name
        // only show buses for simplicity at the moment, tired of html
        if (stationdata.Departures.Buses){
            document.getElementById("station" + i + "destination").innerText = stationdata.Departures.Buses[i].Destination
            document.getElementById("station" + i + "displaytime").innerText = stationdata.Departures.Buses[i].DisplayTime
        }
    }
};

function updateCalendarEvents(calendar){
    // loop and change with jquery.
};

// Could we perhaps just use return the RSS feed directly and let the front end parse it instead of parsing it to json first?
function updateFNews(fnewsfeed){    
    $(fnewsfeed).find("item").each(function (i) { // or "item" or whatever suits your feed
        if (i < 5){  // only first 5 posts shown.
            item = $(this)
            // there is also item.find("content:encoded").text() amongst other attr.
            document.getElementById("article" + i + "title").innerText = item.find("title").text();
            document.getElementById("article" + i + "description").innerText = item.find("description").text();
            document.getElementById("article" + i + "pubdate").innerText = item.find("pubDate").text();
        }
    });
    // loop and change with jquery.
};


function getData(endpoint, callback, datatype="json"){
    // return function which fetches data from `endpoint` and calls `callback` with the response.
    return () => $.get(endpoint, callback, datatype);
}

// Set update intervals of endpoints and bind to callback update functions.
//setInterval(getData("http://127.0.0.1:5000/facebook", updateFacebookPosts),             10000) 
setInterval(getData("http://127.0.0.1:5000/sl-data", updateSLData),                     10000)
setInterval(getData("http://127.0.0.1:5000/fnews", updateFNews, "xml"),                 10000)
//setInterval(getData("/instagram", updateInstagramPosts),                                10000) 
//setInterval(getData("http://127.0.0.1:5000/sektionskalendern", updateCalendarEvents),   10000) 

</script>

